body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.navigation{
    display: flex;
    justify-content: space-around;
}
.navigationButtons{
    transform-origin: center;
    height: 100px;
    width: 100px;
    border: none;
    background: transparent;
    font-family: Poppins;
    font-weight: bold;
    font-size: 15px;
    transition: .20s;
}
.navigationButtons:hover{
    border: solid;
    border-color: violet;
    background-color: violet;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    font-size: 20px;
}
.navigationButtons:active{
    border: solid;
    border-color: rgb(238, 130, 130);
    background-color: rgb(238, 130, 130);
    border-radius: 50px;
    height: 100px;
    width: 100px;

}
.introMessage1{
    font-size: 25px;
    color: black;
    margin-top: 35px;
}
.introMessage2{
    margin: 50px;
}
.Greetings{
    overflow: hidden;
    margin-top: 80px;
    margin-left: 100px;
    height: 100px;
    width: 100px;
    font-family: Poppins;
    font-size: 20px;
    color: black;
    border: none;
    background-color: violet;
    transition: .50s;
    border-radius: 50%;
}
.Greetings:hover{
    animation-name: none;
    margin-left: 0;
    animation-name: none;
    height: 400px;
    width: 100%;
    border-radius: 150px;
}
.skillsAndTools{
    overflow: hidden;
    margin-top: 40px;
    margin-left: 100px;
    height: 100px;
    width: 100px;
    font-family: Poppins;
    font-size: 13px;
    color: black;
    border: none;
    background-color: violet;
    transition: .50s;
    border-radius: 50%;
}

.skillsAndTools:hover{
    animation-name: none;
    margin-left: 0;
    height: 400px;
    width: 100%;
    font-size: 30px;
    color: black;
    border-radius: 150px;
}
.latestProjects{
    overflow: hidden;
    margin-top: 40px;
    margin-left: 100px;
    height: 100px;
    width: 100px;
    font-family: Poppins;
    font-size: 14px;
    color: black;
    border: none;
    background-color: violet;
    transition: .50s;
    border-radius: 50%;
}
.latestProjects:hover{
    animation-name: none;
    font-size: 20px;
    margin-left: 0;
    height: 400px;
    width: 100%;
    color: black;
    border-radius: 150px;
}
.contactInformation{
    background-color: violet;
    font-family: Poppins;
    border: none;
    width: 100%;
    border-radius: 150px;
    margin-top: 100px;
}
.{
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}